<div class="card">
  <h2 class="card-header text-primary">Subjet Topic Add</h2>
  <div class="card-body">
    <form [formGroup]="formGroup">
      <div class="form-row row d-flex flex-row  justify-content-center">

        <div class="d-flex flex-row justify-content-around"></div>
        <div class="col-12">
          <label class="sr-only" for="inlineFormInputGroup1">Name</label>
          <div class="input-group mb-2">
            <input type="text" formControlName="name" class="form-control"
                   id="inlineFormInputGroup1">
          </div>
        </div>
        <div class="col-12 d-flex flex-row-reverse">
          <button (click)="save()" class="btn btn-lg btn-success mb-2">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
